@model ConfirmOrderViewModel

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5" style="margin-bottom: 250px;">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Checkout <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Checkout</h1>
            </div>
        </div>
    </div>
</section>

<!-- ======= MakeYouTrip Section ======= -->
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 featured-top">
                <div class="row no-gutters">
                    
                        <form asp-action="ConfirmOrder" asp-controller="checkout" method="post" class="request-form ftco-animate bg-danger" style="width:370px">
                            <h2>Make your trip</h2>
                            <div>
                                <div class="form-group">
                                    <label asp-for="Fullname" class="label">Fullname</label>
                                    <input asp-for="Fullname" value="@Model.Fullname" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Day" class="label">day</label>
                                    <input asp-for="Day" value="@Model.Day" class="form-control" readonly>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TotalPrice" class="label">Tprice</label>
                                    <input asp-for="TotalPrice" value="@Model.TotalPrice" class="form-control" readonly>
                                </div>

                                @*//*@
                                <h2>Make your trip</h2>
                                <div class="form-group">
                                    <label asp-for="Phonenumber" class="label">Phone number</label>
                                    <input asp-for="Phonenumber" class="form-control" value="@Model.Phonenumber" readonly>
                                    <span asp-validation-for="Phonenumber" style="color:yellow"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="label">Email adress</label>
                                    <input asp-for="Email" class="form-control" value="@Model.Email" readonly>
                                    <span asp-validation-for="Email" style="color:yellow"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DropOffLocation" class="label">Drop-off location</label>
                                    <input asp-for="DropOffLocation" class="form-control" value="@Model.DropOffLocation" readonly>
                                    <span asp-validation-for="DropOffLocation" style="color:yellow"></span>
                                </div>
                                <div class="d-flex" style="width:152px">
                                    <div class="form-group mr-1">
                                        <label asp-for="PickUp" class="label">Pick-up</label>
                                        <input asp-for="PickUp" class="form-control" readonly>
                                        <span asp-validation-for="PickUp" style="color:yellow"></span>
                                    </div>
                                    <div class="form-group mr-1">
                                        <label asp-for="DropOff" class="label">Drop-off</label>
                                        <input asp-for="DropOff" class="form-control" readonly>
                                        <span asp-validation-for="DropOff" style="color:yellow"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="PickUpTime" class="label">Pick-up time</label>
                                    <input asp-for="PickUpTime" class="form-control" readonly>
                                    <span asp-validation-for="PickUpTime" style="color:yellow"></span>
                                </div>
                            </div>

                            <div>

                                <div class="form-group">
                                    <label asp-for="CardNumber" class="label">Card number</label>
                                    <input asp-for="CardNumber" class="form-control" placeholder="**** **** **** ****">
                                    <span asp-validation-for="CardNumber" style="color:yellow"></span>
                                </div>
                                <div class="d-flex">
                                    <div class="form-group mr-2">
                                        <label asp-for="EndTime" class="label">End time</label>
                                        <input asp-for="EndTime" class="form-control" placeholder="MM/YY">
                                        <span asp-validation-for="EndTime" style="color:yellow"></span>
                                    </div>
                                    <div class="form-group mr-2">
                                        <label asp-for="CVC" class="label">CVC</label>
                                        <input asp-for="CVC" class="form-control" placeholder="***">
                                        <span asp-validation-for="CVC" style="color:yellow"></span>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="CarId" value="@Model.CarId" />

                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">add</button>
                            </div>
                        </form>
                    
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <div class="item">
                                <div class="car-wrap rounded ftco-animate">
                                    <div class="img rounded d-flex align-items-end">
                                        <img src="~/uploads/car/@Model.Car.CarImages.FirstOrDefault(x=>x.isPoster==true).ImageName" class="img-fluid" alt="" style="width: 644px;height: 270px;border-radius: 30px;border-style: outset;">
                                    </div>
                                    <div class="text">
                                        <h2 class="mb-0"><a href="car-single.html">@Model.Car.Model</a></h2>
                                        <div class="d-flex mb-3">
                                            <span class="cat">@Model.Car.Brand.Name</span>
                                            <p class="price ml-auto">$@(Model.Car.PricePerDay) <span>/day</span></p>
                                            <p class="price ml-auto">$@(Model.Car.PricePerMonth) <span>/Month</span></p>
                                        </div>
                                        <div>
                                            <h2><span class="flaticon-dashboard" style="margin-right:5px"></span>Millage: <span style="color:slategrey">@Model.Car.Millage km</span></h2>
                                            <h2><span class="flaticon-pistons" style="margin-right:5px"></span>Transmission: <span style="color:slategrey">@Model.Car.Transmission</span></h2>
                                            <h2><span class="flaticon-diesel" style="margin-right:5px"></span>Fuel: <span style="color:slategrey">@Model.Car.Fuel</span></h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>