@model OrderViewModel

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5" style="margin-bottom: 250px;">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Checkout <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Checkout</h1>
            </div>
        </div>
    </div>
</section>

<!-- ======= MakeYouTrip Section ======= -->
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form asp-action="index" asp-controller="checkout" method="post" class="request-form ftco-animate bg-info" style="width:370px">
                            <h2>Make your trip</h2>
                            <div class="form-group">
                                <label asp-for="Fullname" class="label">Fullname</label>
                                <input asp-for="Fullname" class="form-control" placeholder="Fulname">
                                <span asp-validation-for="Fullname" style="color:yellow"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phonenumber" class="label">Phone number</label>
                                <input asp-for="Phonenumber" class="form-control" placeholder="Phone number">
                                <span asp-validation-for="Phonenumber" style="color:yellow"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="label">Email adress</label>
                                <input asp-for="Email" class="form-control" placeholder="Email">
                                <span asp-validation-for="Email" style="color:yellow"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DropOffLocation" class="label">Drop-off location</label>
                                <input asp-for="DropOffLocation" class="form-control" placeholder="City, Airport, Station, etc">
                                <span asp-validation-for="DropOffLocation" style="color:yellow"></span>
                            </div>
                            <div class="d-flex" style="width:152px">
                                <div class="form-group mr-1">
                                    <label asp-for="PickUp" class="label">Pick-up</label>
                                    <input asp-for="PickUp" class="form-control" placeholder="Date">
                                    <span asp-validation-for="PickUp" style="color:yellow"></span>
                                </div>
                                <div class="form-group mr-1">
                                    <label asp-for="DropOff" class="label">Drop-off</label>
                                    <input asp-for="DropOff" class="form-control" placeholder="Date">
                                    <span asp-validation-for="DropOff" style="color:yellow"></span>
                                </div>
                            </div>
                                <div asp-validation-summary="ModelOnly" style="color:yellow"></div>

                            <div class="form-group">
                                <label asp-for="PickUpTime" class="label">Pick-up time</label>
                                <input asp-for="PickUpTime" class="form-control" placeholder="Time">
                                <span asp-validation-for="PickUpTime" style="color:yellow"></span>
                            </div>
                            <input type="hidden" asp-for="CarId" value="@Model.CarId" />
                            <div class="form-group">
                                <button  type="submit" class="btn btn-primary" >add</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <div class="item">
                                <div class="car-wrap rounded ftco-animate">
                                    <div class="img rounded d-flex align-items-end">
                                        <img src="~/uploads/car/@Model.Car.CarImages.FirstOrDefault(x=>x.isPoster==true).ImageName" class="img-fluid" alt="" style="width: 644px;height: 270px;border-radius: 30px;border-style: outset;">
                                    </div>
                                    <div class="text">
                                        <h2 class="mb-0"><a href="car-single.html">@Model.Car.Model</a></h2>
                                        <div class="d-flex mb-3">
                                            <span class="cat">@Model.Car.Brand.Name</span>
                                            <p class="price ml-auto">$@(Model.Car.PricePerDay) <span>/day</span></p>
                                            <p class="price ml-auto">$@(Model.Car.PricePerMonth) <span>/Month</span></p>
                                        </div>
                                        <div>
                                            <h2><span class="flaticon-dashboard" style="margin-right:5px"></span>Millage: <span style="color:slategrey">@Model.Car.Millage km</span></h2>
                                            <h2><span class="flaticon-pistons" style="margin-right:5px"></span>Transmission: <span style="color:slategrey">@Model.Car.Transmission</span></h2>
                                            <h2><span class="flaticon-diesel" style="margin-right:5px"></span>Fuel: <span style="color:slategrey">@Model.Car.Fuel</span></h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>