@model CarDetailViewModel

@{
    int star5Review = Model.CarComments.Where(x => x.Rating == 5).Count();
    int star4Review = Model.CarComments.Where(x => x.Rating == 4).Count();
    int star3Review = Model.CarComments.Where(x => x.Rating == 3).Count();
    int star2Review = Model.CarComments.Where(x => x.Rating == 2).Count();
    int star1Review = Model.CarComments.Where(x => x.Rating == 1).Count();
    int totalReview = Model.CarComments.Count();
    if (totalReview == 0) totalReview = 1;
}
@section css{
    <style>
        .booknowbutton {
            position: relative;
            overflow: hidden;
            outline: none;
            cursor: pointer;
            border-radius: 50px;
            background-color: hsl(255deg 50% 40%);
            border: solid 4px hsl(0deg 0% 0%);
            font-family: inherit;
                width: 350px;

        }

        .default-btn, .hover-btn {
            background-color: hsl(255deg 50% 40%);
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 15px 20px;
            border-radius: 50px;
            font-size: 17px;
            font-weight: 500;
            text-transform: uppercase;
            transition: all .3s ease;
            justify-content: center;
        }

        .hover-btn {
            position: absolute;
            inset: 0;
            background-color: hsl(255deg 50% 49%);
            transform: translate(0%,100%);
            justify-content: center;
        }

        .default-btn span {
            color: hsl(0, 0%, 100%);
        }

        .hover-btn span {
            color: hsl(50deg 100% 50%);
        }

        .booknowbutton:hover .default-btn {
            transform: translate(0%,-100%);
        }

        .booknowbutton:hover .hover-btn {
            transform: translate(0%,0%);
        }
        </style>
}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background: linear-gradient(39deg,#9f8ced 0%, #b5ffb7 60%);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Car details <i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">Car Details</h1>
                </div>
            </div>
        </div>
    </section>


    <section style="text-align-last: center;padding: 2rem;">
        <a asp-action="index" asp-controller="checkout" asp-route-id="@Model.Car.Id">
        <button class="booknowbutton">
            <div class="default-btn">
                <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="#FFF" height="20" width="20" viewBox="0 0 24 24"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle r="3" cy="12" cx="12"></circle></svg>
                <span>Go to Rent</span>
            </div>
            <div class="hover-btn">
                <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="#ffd300" height="20" width="20" viewBox="0 0 24 24"><circle r="1" cy="21" cx="9"></circle><circle r="1" cy="21" cx="20"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                <span>Book Now</span>
            </div>
        </button>
        </a>
    </section>


    <section class="ftco-section ftco-car-details" style="padding-top: 0rem;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">

                    <div class="car-details">

                        <div class="carousel-car owl-carousel">

                        @foreach (var image in Model.Car.CarImages)
                        {
                            <div class="img rounded " style="height:300px">
                                <img style="height: 300px;width: 1100px;" src="~/uploads/car/@image.ImageName" class="img-fluid" alt="">
                            </div>
                        }
                    </div>
                    <div class="text text-center">
                        <span class="subheading">@Model.Car.Category.Name</span>
                        <span class="subheading">@Model.Car.Brand.Name</span>
                        <h2>@Model.Car.Model</h2>
                        <div class="row">
                            <div class="col-md-4 text-primary">
                                <span class="price ml-auto" style="font-size: larger;">$@(Model.Car.PricePerDay) <span>/day</span></span>
                            </div>
                            <div class="col-md-4 text-primary">
                                <span class="price ml-auto" style="font-size: larger;">$@(Model.Car.PricePerWeek) <span>/week</span></span>
                            </div>
                            <div class="col-md-4 text-primary">
                                <span class="price ml-auto" style="font-size: larger;">$@(Model.Car.PricePerMonth) <span>/month</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Mileage
                                    <span>@Model.Car.Millage</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Transmission
                                    <span>@Model.Car.Transmission</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Seats
                                    <span>@Model.Car.Seats Adults</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-backpack"></span></div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Luggage
                                    <span>@Model.Car.Luggage</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                    <div class="media-body py-md-4">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
                            <div class="text">
                                <h3 class="heading mb-0 pl-3">
                                    Fuel
                                    <span>@Model.Car.Fuel</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">
                    <div class="d-flex justify-content-center">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                            <div class="row">
                                @foreach (Peculiarity peculiarity in ViewBag.Pecularities)
                                {
                                    <div class="col-md-4">
                                        <ul class="features">
                                            <li class="check"><span class="ion-ios-checkmark"></span>@peculiarity.Name</li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                            <p>@Model.Car.Description</p>
                        </div>

                        <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="head">@Model.CarComments.Count() Reviews</h3>

                                    @foreach (CarComment comment in Model.CarComments)
                                    {

                                        <div class="review d-flex">
                                            <div class="user-img">
                                                @if (comment.AppUser.ImageName is null)
                                                {
                                                    <img style="max-width:100%" src="~/assets/images/memperphoto.jpg" alt="" />
                                                }
                                                else
                                                {
                                                    <img style="max-width:100%" src="~/uploads/user/@comment.AppUser.ImageName" alt="" />
                                                }
                                            </div>
                                            <div class="desc">
                                                <h4>
                                                    <span class="text-left">@comment.AppUser.Fullname</span>
                                                    <span class="text-right">@String.Format("{0:g}", comment.SendedDate)</span>
                                                </h4>
                                                <p class="star">
                                                    <span>
                                                        @for (int i = 0; i < comment.Rating; i++)
                                                        {
                                                            <i class="ion-ios-star"></i>
                                                        }

                                                    </span>
                                                </p>
                                                <p>@comment.Comment</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-5">
                                    <div class="rating-wrap">
                                        <h3 class="head">Give a Review</h3>
                                        <div class="wrap">
                                            <p class="star">
                                                <span>
                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        <i class="ion-ios-star"></i>
                                                    }
                                                    (@(star5Review * 100 / totalReview)%)
                                                </span>
                                                <span>@star5Review Reviews</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    @for (int i = 0; i < 4; i++)
                                                    {
                                                        <i class="ion-ios-star"></i>
                                                    }
                                                    (@(star4Review * 100 / totalReview)%)
                                                </span>
                                                <span>@star4Review Reviews</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    @for (int i = 0; i < 3; i++)
                                                    {
                                                        <i class="ion-ios-star"></i>
                                                    }
                                                    (@(star3Review * 100 / totalReview)%)
                                                </span>
                                                <span>@star3Review Reviews</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    @for (int i = 0; i < 2; i++)
                                                    {
                                                        <i class="ion-ios-star"></i>
                                                    }
                                                    (@(star2Review * 100 / totalReview)%)
                                                </span>
                                                <span>@star2Review Reviews</span>
                                            </p>
                                            <p class="star">
                                                <span>
                                                    <i class="ion-ios-star"></i>
                                                    (@(star1Review * 100 / totalReview)%)
                                                </span>
                                                <span>@star1Review Reviews</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="comment-form-wrap pt-5">
                                        <h3 class="mb-5">Leave a comment</h3>
                                        <form asp-action="carcomment" asp-controller="car" method="post" class="p-5 bg-light">
                                            <div class="form-group">
                                                <label asp-for="CarComment.Comment">Comment</label>
                                                <textarea asp-for="CarComment.Comment" cols="30" rows="6" class="form-control"></textarea>
                                                <span asp-validation-for="CarComment.Comment" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CarComment.Rating">Your rating:</label>
                                                <select asp-for="CarComment.Rating">
                                                    <option value="5">5/5</option>
                                                    <option value="4">4/5</option>
                                                    <option value="3">3/5</option>
                                                    <option value="2">2/5</option>
                                                    <option value="1">1/5</option>
                                                </select>
                                                <span asp-validation-for="CarComment.Rating" class="text-danger"></span>
                                            </div>
                                            <input type="hidden" asp-for="CarComment.CarId" value="@Model.Car.Id" />
                                            <input type="hidden" asp-for="CarComment.AppUserId" value="@Model.Car.Id" />

                                            <div class="form-group">
                                                @if (User.Identity.IsAuthenticated)
                                                {

                                                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                                }
                                                else
                                                {
                                                    <a asp-action="login" asp-controller="account" class="btn py-3 px-4 btn-primary send-comment">Login to write a comment</a>
                                                }
                                            </div>

                                        </form>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">What we offer</span>
                <h2 class="mb-2">New Vehicles</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">

                    @await Component.InvokeAsync("Car",ViewBag.NewCars)

                </div>
            </div>
        </div>
    </div>
</section>