@inject CarRent_CarRentalWebApp.Areas.Manage.Services.AdminLayoutService service
@{
    AppUser appUser = await service.GetUser();
    List<Testimonial> testimonials = service.NewQuote();
    bool newCarComment = service.NewCarComment();
    bool newBlogComment = service.NewBlogComment();
    bool newContact = service.NewContact();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/manage/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/manage/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/manage/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/manage/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/manage/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/manage/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/manage/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/manage/assets/images/favicon.png" />


    @RenderSection("css",required:false)
    <style>
        .imagezr {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middlezr {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 30%;
            left: 35%;
            transform: translate(-50 %, -50%);
            -ms- transform: translate (-50%, -50%);
            text-align: center;
        }

        .container:hover .imagezr {
            opacity: 0.3;
        }

        .container:hover .middlezr {
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="index.html"><img src="~/manage/assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="~/manage/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="count-indicator">
                                    @if (appUser.ImageName is null)
                                    {
                                        <img class="img-xs rounded-circle " src="~/manage/assets/images/download.jpg" alt="">
                                    }
                                    else
                                    {
                                        <img class="img-xs rounded-circle " src="~/uploads/user/@appUser.ImageName" alt="">
                                    }
                                    <span class="count bg-success"></span>
                                </div>
                                <div class="profile-name">
                                    <h5 class="mb-0 font-weight-normal">@appUser.UserName</h5>
                                    <span>@appUser.Email</span>
                                </div>
                            }
                        </div>
                        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a asp-action="logout" asp-controller="account" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Log out</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-action="index" asp-controller="dashboard">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" asp-action="index" asp-controller="hero">
                        <span class="menu-icon">
                            <i class="mdi mdi-image-area-close"></i>
                        </span>
                        <span class="menu-title">Hero</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-action="index" asp-controller="aboutus">
                        <span class="menu-icon">
                            <i class="mdi mdi-alpha"></i>
                        </span>
                        <span class="menu-title">About Us</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-action="index" asp-controller="service">
                        <span class="menu-icon">
                            <i class="mdi mdi-pen"></i>
                        </span>
                        <span class="menu-title">Service</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-action="index" asp-controller="doyouwant">
                        <span class="menu-icon">
                            <i class="mdi mdi-book-open-page-variant"></i>
                        </span>
                        <span class="menu-title">Do You Want</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#testimonial" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-lightbulb-outline"></i>
                        </span>
                        <span class="menu-title">Testimonial</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="testimonial">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="Testimonial">New</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="activeIndex" asp-controller="Testimonial">Active</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="passiveIndex" asp-controller="Testimonial">Passive</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#related-car" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-relative-scale"></i>
                        </span>
                        <span class="menu-title">Car related</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="related-car">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="brand">Brand</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="category">Category</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="peculiarity">Peculiarity</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#car" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-car"></i>
                        </span>
                        <span class="menu-title">Car</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="car">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="car"><span style="padding-right: 5px;"><i class="mdi mdi-key-variant"></i></span>  Active car</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="RenatlIndex" asp-controller="car"><span style="padding-right: 5px;"><i class="mdi mdi-key-remove"></i></span>  Rental car</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" asp-action="index" asp-controller="order">
                        <span class="menu-icon">
                            <i class="mdi mdi-basket"></i>
                        </span>
                        <span class="menu-title">Order</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-action="index" asp-controller="blog">
                        <span class="menu-icon">
                            <i class="mdi mdi-blogger"></i>
                        </span>
                        <span class="menu-title">Blog</span>
                    </a>
                </li>


                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#carcomment" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-comment-text-outline"></i>
                        </span>
                        <span class="menu-title">Car Comment</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="carcomment">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="comment">New</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="activeIndex" asp-controller="comment">Active</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="passiveIndex" asp-controller="comment">Passive</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#blogcomment" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-comment-text"></i>
                        </span>
                        <span class="menu-title">Blog Comment</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="blogcomment">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="blogcomment">New</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="activeIndex" asp-controller="blogcomment">Active</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="passiveIndex" asp-controller="blogcomment">Passive</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-action="index" asp-controller="infobar">
                        <span class="menu-icon">
                            <i class="mdi mdi-information-variant"></i>
                        </span>
                        <span class="menu-title">Information Bar</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#contact" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-phone"></i>
                        </span>
                        <span class="menu-title">Contact</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="contact">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="contact">New</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="oldindex" asp-controller="contact">Was Read</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-action="index" asp-controller="settings">
                        <span class="menu-icon">
                            <i class="mdi mdi-settings"></i>
                        </span>
                        <span class="menu-title">Settings</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#recycle-bin" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                            <i class="mdi mdi-delete-variant"></i>
                        </span>
                        <span class="menu-title">Recycle Bin</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="recycle-bin">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="service">Service[Deleted]</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="testimonial">Testimonial[Deleted]</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="brand">Brand[Deleted]</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="category">Category[Deleted]</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="peculiarity">Peculiarity[Deleted]</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="car">Car[Deleted]</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="order">Order[Deleted]</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="blog">Blog[Deleted]</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="comment">Car Comment[Deleted]</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="blogcomment">Blog Comment[Deleted]</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-action="deletedindex" asp-controller="contact">Contact[Deleted]</a></li>
                        </ul>
                    </div>
                </li>


            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/manage/assets/images/logo-mini.svg" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                <input type="text" class="form-control" placeholder="Search products">
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown d-none d-lg-block">
                            <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Create New Project</a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                                <h6 class="p-3 mb-0">Projects</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-file-outline text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Software Development</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-web text-info"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">UI Development</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-layers text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Software Testing</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">See all projects</p>
                            </div>
                        </li>

                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="mdi mdi-phone-plus"></i>
                                @if (newContact)
                                {

                                    <span class="count bg-danger"></span>
                                }

                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <h6 class="p-3 mb-0">Notifications</h6>
                                <div class="dropdown-divider"></div>
                                @if (newContact)
                                {
                                    <a asp-action="index" asp-controller="contact" class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-phone-classic"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject mb-1">You have a new contact</p>
                                            <p class="text-muted ellipsis mb-0">You can click and see</p>
                                        </div>
                                    </a>
                                }
                            </div>
                        </li>

                        @*////*@
                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-lightbulb"></i>
                                @if (testimonials.Count > 0)
                                {
                                    <span class="count bg-success"></span>
                                }
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                <h6 class="p-3 mb-0">New Testimonial</h6>
                                <div class="dropdown-divider"></div>
                                @if (testimonials.Count > 0)
                                {
                                    @foreach (Testimonial testimonial in testimonials)
                                    {
                                        <a asp-action="detail" asp-controller="testimonial" asp-route-id="@testimonial.Id" class="dropdown-item preview-item">
                                            <div class="preview-thumbnail">
                                                @if (testimonial.AppUser.ImageName == null)
                                                {

                                                    <img src="~/assets/images/memperphoto.jpg" alt="image" class="rounded-circle profile-pic">
                                                }
                                                else
                                                {

                                                    <img src="~/uploads/user/@testimonial.AppUser.ImageName" alt="image" class="rounded-circle profile-pic">
                                                }
                                            </div>
                                            <div class="preview-item-content">
                                                <p class="preview-subject ellipsis mb-1">
                                                    @if (testimonial.Quote.Length > 25)
                                                    {
                                                        @testimonial.Quote.Substring(0,25)

                                                    <p>.....</p>
                                                    }
                                                    else
                                                    {
                                                        @testimonial.Quote
                                                    }</p>
                                                <p class="text-muted mb-0"> @String.Format("{0:d/M/yyyy HH:mm:ss}", testimonial.SendedDate).Replace(" ","-")</p>
                                            </div>
                                        </a>
                                    }
                                }

                                <p class="p-3 mb-0 text-center">@testimonials.Count new messages</p>
                            </div>
                        </li>

                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="mdi mdi-comment-alert-outline"></i>
                                @if (newBlogComment == true || newCarComment == true)
                                {

                                    <span class="count bg-danger"></span>
                                }

                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <h6 class="p-3 mb-0">Notifications</h6>
                                <div class="dropdown-divider"></div>
                                @if (newCarComment)
                                {
                                    <a asp-action="index" asp-controller="comment" class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-comment-plus-outline"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject mb-1"><i class="mdi mdi-car-connected"></i>You have a new car comment</p>
                                            <p class="text-muted ellipsis mb-0">You can click and see</p>
                                        </div>
                                    </a>
                                }
                                @if (newBlogComment)
                                {
                                    <a asp-action="index" asp-controller="blogcomment" class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-comment-plus-outline"></i>
                                            </div>
                                        </div>

                                        <div class="preview-item-content">
                                            <p class="preview-subject mb-1"><i class="mdi mdi-cards-playing-outline"></i>You have a new blog comment</p>
                                            <p class="text-muted ellipsis mb-0">You can click and see</p>
                                        </div>
                                    </a>
                                }
                            </div>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @if (appUser.ImageName is null)
                                        {
                                            <img class="img-xs rounded-circle " src="~/manage/assets/images/download.jpg" alt="">
                                        }
                                        else
                                        {
                                            <img class="img-xs rounded-circle " src="~/uploads/user/@appUser.ImageName" alt="">
                                        }
                                        <p class="mb-0 d-none d-sm-block navbar-profile-name">@appUser.Fullname</p>
                                        <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                    }
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profile</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Settings</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a asp-action="logout" asp-controller="account" class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Log out</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">Advanced settings</p>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                @RenderBody()
                <!-- content-wrapper ends -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/manage/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/manage/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/manage/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/manage/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/manage/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/manage/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/manage/assets/js/off-canvas.js"></script>
    <script src="~/manage/assets/js/hoverable-collapse.js"></script>
    <script src="~/manage/assets/js/misc.js"></script>
    <script src="~/manage/assets/js/settings.js"></script>
    <script src="~/manage/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/manage/assets/js/dashboard.js"></script>
    <script src="~/manage/assets/js/carrent.js"></script>
    @RenderSection("scripts",required:false)
    <!-- End custom js for this page -->
</body>
</html>