@model PaginatedList<Car>
@{
    int count;
    int totalRating;
    int averageRating = 0;
}
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="car-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th class="bg-primary heading">Per Hour Rate</th>
                                <th class="bg-dark heading">Per Day Rate</th>
                                <th class="bg-black heading">Leasing</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Car car in Model)
                            {

                                totalRating = 0;
                                count = 0;

                                <tr class="">
                                    <td class="car-image"><div class="img"><img style="max-width:100%" src="~/uploads/car/@car.CarImages.FirstOrDefault(x=>x.isPoster==true).ImageName" /></div></td>
                                    <td class="product-name">
                                        <h6> @car.Category.Name</h6>
                                        <h3>@car.Brand.Name @car.Model</h3>
                                        <p class="mb-0 rated">
                                            <span>rated:</span>
                                            @foreach (CarComment comment in car.CarComments.Where(x => x.isActive == true).Where(x => x.isDeleted == false))
                                            {
                                                totalRating += comment.Rating;
                                                count++;
                                            }

                                            <input type="hidden"@(averageRating = (int)Math.Ceiling((double)totalRating / count))>

                                            @for (int i = 0; i < averageRating; i++)
                                            {
                                                <span class="ion-ios-star"></span>

                                            }
                                        </p>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a asp-action="index" asp-controller="checkout" asp-route-id="@car.Id">Rent a car</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num"><small class="currency">$</small> @car.PricePerWeek</span>
                                                <span class="per">/per hour</span>
                                            </h3>
                                            <span class="subheading">$@(car.ConsumptionPer100KM)/hour fuel surcharges</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a asp-action="index" asp-controller="checkout" asp-route-id="@car.Id">Rent a car</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num"><small class="currency">$</small> @car.PricePerDay</span>
                                                <span class="per">/per day</span>
                                            </h3>
                                            <span class="subheading">$@(car.ConsumptionPer100KM)/hour fuel surcharges</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a asp-action="index" asp-controller="checkout" asp-route-id="@car.Id">Rent a car</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num"><small class="currency">$</small> @car.PricePerMonth</span>
                                                <span class="per">/per month</span>
                                            </h3>
                                            <span class="subheading">$@(car.ConsumptionPer100KM)/hour fuel surcharges</span>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <div class="block-27">
                <ul>
                    @if (Model.PreviousPage)
                    {
                        <li>
                            <a asp-action="index" asp-route-page="@(Model.ActivePage-1)">&lt;</a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.TotalPageCount; i++)
                    {
                        <li class="@(Model.ActivePage==i? "active" :"")"><a asp-action="index" asp-route-page="@i">@i</a></li>
                    }
                    @if (Model.NextPage)
                    {
                        <li>
                            <a asp-action="index" asp-route-page="@(Model.ActivePage+1)">&gt;</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>

