@model PaginatedList<Contact>
@{
    int count = (Model.ActivePage - 1) * 5;
}
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">New Contact Table </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Contact</li>
                    <li class="breadcrumb-item">New Contact</li>
                    <li class="breadcrumb-item active" aria-current="page">Table</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Image</th>
                                        <th>Username</th>
                                        <th>Fullname</th>
                                        <th>Subject</th>
                                        <th>Message</th>
                                        <th>Sended Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (Contact contact in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>
                                            @if (contact.AppUser.ImageName is null)
                                            {
                                                <img src="~/assets/images/memperphoto.jpg" alt="Avatar" style="width: 80px; height:80px" />
                                            }
                                            else
                                            {
                                                <img src="~/uploads/user/@contact.AppUser.ImageName" alt="Avatar" style="width: 80px; height:80px" />
                                            }
                                        </td>
                                        <td>@contact.AppUser.UserName</td>
                                        <td>@contact.AppUser.Fullname</td>
                                        <td>@contact.Subject</td>
                                        <td>

                                            @if (contact.Message.Length > 25)
                                            {
                                                @contact.Message.Substring(0,25)

                                                <p>.....</p>
                                            }
                                            else
                                            {
                                                @contact.Message
                                            }
                                        </td>
                                        <td>@String.Format("{0:d/M/yyyy HH:mm:ss}", contact.SendedDate).Replace(" ","-")</td>
                                        <td>
                                            <a class="btn btn-outline-info" asp-action="detail" asp-controller="contact" asp-route-id="@contact.Id">Detail</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-danger softdelete-btn" asp-action="softdelete" asp-controller="contact" asp-route-id="@contact.Id"><i style="margin:0px" class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.PreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage-1)">&laquo;</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(Model.ActivePage==i? "active" :"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
            }
            @if (Model.NextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage+1)">&raquo;</a>
                </li>
            }
        </ul>
    </nav>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.js" integrity="sha512-vCI1Ba/Ob39YYPiWruLs4uHSA3QzxgHBcJNfFMRMJr832nT/2FBrwmMGQMwlD6Z/rAIIwZFX8vJJWDj7odXMaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}