@model PaginatedList<Brand>
@{
    int count = (Model.ActivePage-1)*5;
}

@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Brand Table </h3>
        <a class="btn btn-outline-success" asp-action="create" asp-controller="brand">New Brand</a>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Brand</li>
                <li class="breadcrumb-item active" aria-current="page">Table</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" >
                    <div class="table-responsive"  >
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Brand brand in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@brand.Id</td>
                                        <td>@brand.Name</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuOutlineButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton2" style="">
                                                   
                                                    <a class="dropdown-item btn btn-primary" asp-action="update" asp-controller="brand" asp-route-id="@brand.Id">Update</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item btn btn-danger softdelete-btn" asp-action="softdelete" asp-controller="brand" asp-route-id="@brand.Id">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if(Model.PreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage-1)">&laquo;</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(Model.ActivePage==i? "active" :"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
            }
            @if (Model.NextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage+1)">&raquo;</a>
                </li>
            }
        </ul>
    </nav>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.js" integrity="sha512-vCI1Ba/Ob39YYPiWruLs4uHSA3QzxgHBcJNfFMRMJr832nT/2FBrwmMGQMwlD6Z/rAIIwZFX8vJJWDj7odXMaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}