@model PaginatedList<Peculiarity>
@{
    int count = (Model.ActivePage - 1) * 7;
}
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Deleted Peculiarity Table </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item">Recycle Bin</li>
                    <li class="breadcrumb-item">Peculiarity</li>
                    <li class="breadcrumb-item active" aria-current="page">Table</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                    @if (Model.Count == 0)
                    {
                        <div class="table-responsive" style="min-height:450px;text-align: center;">
                            <div style="position: sticky;top: 23%;">
                                <div>
                                    <i class="mdi mdi-flask-outline" style="font-size: 7rem;color: #c282ff;"></i>
                                </div>
                                <div>
                                    <span style="font-family: auto;font-size: 20px;">This table is empty, no data available</span>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {

                        <div class="table-responsive">
                            <table class="table">
                                <a asp-action="AllDelete" asp-controller="Peculiarity" class="btn btn-danger all-delete-button">All Delete</a>
                                <thead>
                                    <tr>
                                        <th> </th>
                                        <th>№</th>
                                        <th>ID</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (Peculiarity peculiarity in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>
                                            <a asp-action="detail" asp-controller="Peculiarity" asp-route-id="@peculiarity.Id" class="btn btn-info"><i style="margin:0px" class="mdi mdi-eye"></i></a>
                                        </td>
                                        <td>@count</td>
                                        <td>@peculiarity.Id</td>
                                        <td>@peculiarity.Name</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuOutlineButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton2" style="">
                                                    <a class="dropdown-item btn btn-primary" asp-action="restore" asp-controller="peculiarity" asp-route-id="@peculiarity.Id">Restore</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item btn btn-danger harddelete-btn" asp-action="harddelete" asp-controller="peculiarity" asp-route-id="@peculiarity.Id">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.PreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="deletedindex" asp-route-page="@(Model.ActivePage-1)">&laquo;</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(Model.ActivePage==i? "active" :"")"><a class="page-link" asp-action="deletedindex" asp-route-page="@i">@i</a></li>
            }
            @if (Model.NextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="deletedindex" asp-route-page="@(Model.ActivePage+1)">&raquo;</a>
                </li>
            }
        </ul>
    </nav>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.js" integrity="sha512-vCI1Ba/Ob39YYPiWruLs4uHSA3QzxgHBcJNfFMRMJr832nT/2FBrwmMGQMwlD6Z/rAIIwZFX8vJJWDj7odXMaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}