@model PaginatedList<Car>
@{
    int count = (Model.ActivePage - 1) * 5;
}
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Rental Car Table </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Car</li>
                    <li class="breadcrumb-item">Rental Car</li>
                    <li class="breadcrumb-item active" aria-current="page">Table</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>ID</th>
                                        <th>Image</th>
                                        <th>Status</th>
                                        <th>Category</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Millage</th>
                                        <th>Price Per Day</th>
                                        <th>Created Date<br />Updated Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (Car car in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@car.Id</td>
                                        <td>
                                            <img style="border: outset;width: 100px;height: 100px;" src="~/uploads/car/@car.CarImages.FirstOrDefault(x=>x.isPoster==true).ImageName" class="img-fluid" alt="">
                                        </td>
                                        <td><label class="badge badge-outline-@(car.isRent == false ? "success" : "info")">@(car.isRent == false ? "Active" : "On rent")</label></td>
                                        <td>@car.Category.Name</td>
                                        <td>@car.Brand.Name</td>
                                        <td>@car.Model</td>
                                        <td>@(car.Millage) km</td>
                                        <td>@(car.PricePerDay) $</td>
                                        <td>@String.Format("{0:d/M/yyyy HH:mm:ss}", car.CreatedDate).Replace(" ","-")<br />@String.Format("{0:d/M/yyyy HH:mm:ss}", car.UpdatedDate).Replace(" ","-")</td>
                                      @*
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuOutlineButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton2" style="">
                                                    <a class="dropdown-item btn btn-primary" asp-action="update" asp-controller="car" asp-route-id="@car.Id">Detail</a>
                                                </div>
                                            </div>
                                        </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.PreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage-1)">&laquo;</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(Model.ActivePage==i? "active" :"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
            }
            @if (Model.NextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage+1)">&raquo;</a>
                </li>
            }
        </ul>
    </nav>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.js" integrity="sha512-vCI1Ba/Ob39YYPiWruLs4uHSA3QzxgHBcJNfFMRMJr832nT/2FBrwmMGQMwlD6Z/rAIIwZFX8vJJWDj7odXMaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}